{
    "openapi": "3.0.0",
    "info": {
        "title": "FinanIes",
        "license": {
            "name": "MIT"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.finanies.tk/",
            "description": "API server"
        },
        {
            "url": "http://api.finanies.tk/",
            "description": "API server http",
            "variables": {
                "schema": {
                    "enum": [
                        "https",
                        "http"
                    ],
                    "default": "https"
                }
            }
        }
    ],
    "paths": {
        "/api/v1/login": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "operationId": "cf0107ca98bf97dff3e93f168af744c9",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "credential": {
                                        "description": "Email address or user.",
                                        "type": "string",
                                        "default": "admin@admin.com"
                                    },
                                    "password": {
                                        "description": "password",
                                        "type": "string",
                                        "default": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "An example resource"
                    }
                }
            }
        },
        "/api/v1/company": {
            "get": {
                "tags": [
                    "Company"
                ],
                "operationId": "e09a177de9205b901d0c546dafede205",
                "responses": {
                    "200": {
                        "description": "An example resource"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Company"
                ],
                "operationId": "d5834f135441d2027f02cd07d64e8b38",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "description": "companie name",
                                        "type": "string",
                                        "default": "conpanie one"
                                    },
                                    "title": {
                                        "description": "title companie",
                                        "type": "string",
                                        "default": "title companie"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "An example resource"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/company/{company}": {
            "put": {
                "tags": [
                    "Company"
                ],
                "operationId": "87d0cc858990ac078136be8b2cf91c2a",
                "parameters": [
                    {
                        "name": "company",
                        "in": "query",
                        "description": "company identification",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "description": "companie name",
                                        "type": "string",
                                        "default": "conpanie one"
                                    },
                                    "title": {
                                        "description": "title companie",
                                        "type": "string",
                                        "default": "title companie"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "An example resource"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Company"
                ],
                "operationId": "754c1ce69e2c40d1a1bdd3b0a4e17b02",
                "parameters": [
                    {
                        "name": "companie",
                        "in": "path",
                        "description": "company identification",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An example resource"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/role": {
            "get": {
                "tags": [
                    "Role"
                ],
                "operationId": "4cebb0ba7da6403f5178d7221945b6cb",
                "responses": {
                    "200": {
                        "description": "An example resource"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Role"
                ],
                "operationId": "ebf680c8b7a8d46aeefccc7548183022",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "description": "role name",
                                        "type": "string",
                                        "default": "role-one"
                                    },
                                    "view": {
                                        "description": "view role",
                                        "type": "boolean",
                                        "default": "true"
                                    },
                                    "edit": {
                                        "description": "edit role",
                                        "type": "boolean",
                                        "default": "true"
                                    },
                                    "delete": {
                                        "description": "delete role",
                                        "type": "boolean",
                                        "default": "true"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "An example resource"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/role/{role}/": {
            "put": {
                "tags": [
                    "Role"
                ],
                "operationId": "eda724d8e2587fb1bffd47a2a0108201",
                "parameters": [
                    {
                        "name": "companie",
                        "in": "query",
                        "description": "role identification",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "description": "role name",
                                        "type": "string",
                                        "default": "role-one"
                                    },
                                    "view": {
                                        "description": "permission to see",
                                        "type": "boolean",
                                        "default": "true"
                                    },
                                    "edit": {
                                        "description": "permission to edit",
                                        "type": "boolean",
                                        "default": "true"
                                    },
                                    "delete": {
                                        "description": "permission to delete",
                                        "type": "boolean",
                                        "default": "true"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "An example resource"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "Company": {
                "title": "Company",
                "required": [
                    "name",
                    "title"
                ],
                "properties": {
                    "role_id": {
                        "description": "Class Product",
                        "type": "string"
                    },
                    "user_id": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "Role": {
                "title": "Role",
                "required": [
                    "role_id",
                    "user_id"
                ],
                "properties": {
                    "role_id": {
                        "description": "Class Product",
                        "type": "integer"
                    },
                    "user_id": {
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "User": {
                "title": "User",
                "required": [
                    "name",
                    "surname",
                    "email",
                    "username",
                    "email_verified_at",
                    "password",
                    "is_admin"
                ],
                "properties": {
                    "name": {
                        "description": "Class Product",
                        "type": "string"
                    },
                    "surname": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string"
                    },
                    "username": {
                        "type": "string"
                    },
                    "email_verified_at": {
                        "type": "timestamp"
                    },
                    "password": {
                        "type": "string"
                    },
                    "is_admin": {
                        "type": "tinyint"
                    }
                },
                "type": "object"
            }
        },
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "Bearer"
            }
        }
    }
}